<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/update/<% blog.id%>" enctype="multipart/form-data">
        <input type="text" value="<% blog.title_blog %>" name="title_blog"> <br>
        <input type="text" value="<% blog.description_blog %>"  name="description_blog"><br>
        <input type="text" value="<% blog.author_blog %>" name="author_blog"><br>
        <input type="file" value="<% blog.image_blog %>" name="image_blog"><br>
        <img src="/uploads/<% blog.image_blog %>" alt="">
        <button type="submit">edit blog</button>
    </form>
</body>
</html>
